@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    z-index: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    
}
#navbarSupportedContent a{
    color: white;
}
#navbarSupportedContent a:hover{
    border-bottom: 1px solid #fcb941 ;
    
}
   



.card{
    width: 18rem;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
}
.btn{

    background-color: black;
    color: aliceblue;

}

.card :hover{
  box-shadow: 1px 1px 20px #d2d2d2;
}
.title{
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
  text-shadow: 0 0 10px #ede7ed;
   font-size: 250%;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  outline: none;
}
.mb50 {
  margin-bottom: 50px;
}

.letras{
  color: #fcb941;
}